= content_tag_for :tr, task do
  = simple_form_for task, html: {class: "form-inline"} do |f|
    %td= f.input_field :complete
    %td= task.content
    %td= task.due_date
    %td= task.priority
    %td= link_to "×", task_path(task), method: :delete, remote: true, class: "close"
