!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    "application", :"data-turbolinks-track" => true, media: "all"
    = javascript_include_tag "application", :"data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "navbar"

    .container
      = render "hero_unit" if logged_in? and params[:controller] != "static_pages"
      = render "flash", flash: flash

      = yield
